.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 35vh;
  border: 1px solid #cbced2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-2 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  height: 35vh;
  border: 1px solid #cbced2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  width: 90%;
  height: 35vh;
  border: 1px solid #cbced2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Write your code here. */
.button-item {
  background-color: #ffffff;
  border: 1px solid #326a9d;
  padding: 10px;
  color: #326a9d;
  font-weight: 600;
  border-radius: 5px;
  width: 100px;
}

.header {
  color: #326a9d;
  font-family: 'Roboto';
}

.descript {
  color: #64748b;
  font-family: 'Roboto';
}
